.grid-container {
  grid-template-rows: 2rem 6rem 6rem 6rem;
}

#icon-01-container {
  grid-area: 2 / 1 / span 1 / span 1;
}

#icon-02-container {
  grid-area: 2 / 2 / span 1 / span 1;
}

#icon-03-container {
  grid-area: 2 / 3 / span 1 / span 1;
}

#icon-04-container {
  grid-area: 3 / 1 / span 1 / span 1;
}

#icon-05-container {
  grid-area: 3 / 2 / span 1 / span 1;
}

#icon-06-container {
  grid-area: 3 / 3 / span 1 / span 1;
}

#icon-07-container {
  grid-area: 4 / 1 / span 1 / span 1;
}

#icon-08-container {
  grid-area: 4 / 2 / span 1 / span 1;
}

#icon-09-container {
  grid-area: 4 / 3 / span 1 / span 1;
}

#icon-10-container {
  grid-area: 5 / 1 / span 1 / span 1;
}

#icon-11-container {
  grid-area: 5 / 2 / span 1 / span 1;
}

#icon-12-container {
  grid-area: 5 / 3 / span 1 / span 1;
}

#header {
  grid-area: 1 / 1 / span 1 / span 3;
}

#sidebar {
  grid-area: 1 / 4 / span 5 / span 3;
}

#invention-img {
  height: 26rem;
  width: 22rem;
}

#img_source {
  position: absolute;
  left: 49rem;
  top: 2.1rem;
  writing-mode: vertical-rl;
}

.button-fill {
  fill: #efefef;
}

.button-stroke {
  fill: none;
  stroke: #282828;
}

.hidden {
  display: none;
}
