html {
  background-color: #282828;
}

.grid-container {
  grid-template-rows: 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
}

#block-header {
  grid-area: 1 / 2 / span 1 / span 7;
}

#us-coast-map-container {
  grid-area: 1 / 2 / span 10 / span 7;
}

#sidebar-header {
  grid-area: 1 / 9 / span 1 / span 3;
}

#sidebar-content {
  grid-area: 2 / 9 / span 8 / span 3;
}

#prev-button-container {
  grid-area: 10 / 9 / span 1 / span 1;
}

#next-button-container {
  grid-area: 10 / 10 / span 1 / span 1;
}

#grid {
  grid-area: 1 / 2 / span 10 / span 10;
}

.city {
  r: .25rem;
  stroke-width: 0;
  fill: #EFEFEF;
}

.cityCircle {
  r: 0.4rem;
  stroke-width: 0.05rem;
  stroke: #EFEFEF;
  fill: #282828;
}

.capitalStar {
  fill: #EFEFEF;
}

.cityHighlight {
  r: 0.25rem;
  opacity: .25;
  stroke-width: 0;
}

.cityButton {
  r: 0.6rem;
  opacity: 0;
}

.mountLebanon {
  r: 0.5rem;
}

.bishopricSeat {
  r: 0.35rem;
}

.line {
  stroke: #d65d0e;
  stroke-width: 0.05rem;
  stroke-dasharray: 0.5rem, 0.25rem;
  animation: dash 5s linear forwards infinite;
  opacity: .65;
  transition: stroke-opacity 1s;
}

.line.hidden {
  stroke-opacity: 0;
}

.textContainer {
  margin: 0 0 -0.49rem 0;
  padding: 0.49rem 0 0 0;
  height: 2rem;
}

.barContainer {
  display: inline-block;
  padding: 0;
  margin: 0 .25rem 0 0;
  width: 0;
  height: 0.9rem;
  overflow: hidden;
  transition: width 0.5s;
}

.bar {
  fill: #EFEFEF;
}

.familyDots {
  width: 200px;
}

.dot {
  fill: #EFEFEF;
  r: .25rem;
}

#bishopricKey {
  width: 0.9rem;
  position: relative;
  top: 0.07rem;
}

#familyDots {
  position: relative;
  top: 0.07rem;
}

.inlineText {
  display: inline-block;
  margin: 0;
  padding: 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: -7.5rem;
  }
}
